[Unit]
Description=Notification Service
After=network.target

[Service]
Type=simple
User=debian
WorkingDirectory=/home/debian/kstnws/kstnws_ns
ExecStart=sh -c "/home/debian/kstnws/kstnws_ns/ns"
Restart=always
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
