[Unit]
Description=Notification Service
After=network.target

[Service]
Type=simple
User=debian
WorkingDirectory=/home/debian/kstnws/kstnws_ns
ExecStart=sh -c "/usr/local/go/bin/go run /home/debian/kstnws/kstnws_ns/*.go"
Restart=always
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
